
.editor_tiny_content_wrap .aic {
    color: #6c757d;
    width: 100%;
    word-break: break-all;
    height: 260px;
    cursor: pointer;
    background: url([[pix:tiny_aic|icon-white]]) center center / 100px auto no-repeat #6c757d;
}
.tiny_aic_button .icon {
    width: 24px;
}